* {
    margin: 0;
    padding: 0;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 50px;
    padding-top: 10px;
    transition: 1s;
    text-decoration: none;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin: 10px 15px;
}

.back:hover {
    background-color: aqua;
    transition: 2s;
    border-radius: 20px;
}

.el-1 {
    background-color: blue;
}

.el-2 {
    background-color: pink;
}

.el-3 {
    background-color: red;
    height: 150px;
}

.el-4 {
    background-color: gold;
}

.el-5 {
    background-color: chartreuse;
}

.el-6 {
    background-color: green;
}

.el-7 {
    background-color: turquoise;
}

.el-8 {
    background-color: olive;
}

.container-1 {
    background-color: #ddd;
    font-size: 30px;
    margin: 40px;
    display: grid;
    grid-template-columns: 200px 200px 100px 100px;
    grid-template-rows: 300px 200px;
    column-gap: 30px;
    row-gap: 60px;
}

.container-2 {
    background-color: black;
    font-size: 40px;
    margin: 100px;
    width: 1000px;
    height: 600px;
    display: none;
}